<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:replace="fragments::bootstrap"/>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 d-flex flex-column align-items-center justify-content-center">
                <h1 class="w-100 text-center mt-5">Le tue foto: </h1>
                <ul class="w-100 text-center">
                    <li th:each="photo : ${photos}"
                    	th:object="${photo}"
                    	class="list-unstyled">
                        <a class="text-decoration-none text-dark" th:href="@{/photos/{id} (id=${photo.id})}">[[*{name}]]</a>
                        <a class="btn btn-warning" th:href="@{/photos/edit/{id} (id=${photo.id})}">Modifica</a>
                        <form
                        	method="POST"
                        	th:action="@{/photos/delete/{id} (id=${photo.id})}">
							<button type="submit" class="btn btn-danger">Elimina</button>
						</form>
                    </li>
                </ul>
                <a href="/photos/create" class="btn btn-success">Aggiungi foto</a>
                <a href="/categories" class="btn btn-success">Visualizza categorie</a>
            </div>
        </div>
    </div>
</body>
</html>
